h1 {
    color: rgb(20, 236, 236);
}
h2{
    color: brown;
}
button{
    color: rgb(10, 10, 10);
}
body{
    background-color: #f5f1ee;
}
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }